/*
	Copyright © Eleanor CMS
	URL: http://eleanor-cms.ru, http://eleanor-cms.com
	E-mail: support@eleanor-cms.ru
	Developing: Alexander Sunvas*
	Interface: Rumin Sergey
	=====
	*Pseudonym
*/

/* main.css */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset { margin:0; padding:0; word-wrap:break-word; }
h1, h2, h3, h4, h5, pre, code, address, caption, cite, table, font { font-size: 1em; font-style: normal; font-weight: normal; }
h1, h2, h3, h4, h5, body { font-family: Tahoma, Arial, Verdana, sans-serif; }
h1, h2, h3, h4, h5 { line-height: 1.2em; }
h1 { font-size: 2em; } h2 { font-size: 1.6em; font-family: Arial, Verdana, sans-serif; letter-spacing: -0.01em; } h3 { font-size: 1.20em; font-weight: bold; } h4 { font-size: 1.2em; font-weight: bold; } h5 { font-weight: bold; font-size: 1.0em; }
a { color: #469ebf; text-decoration: none; outline: none; }
a:hover { text-decoration: underline; }
input, textarea, select { font-size: 1em; font-family: Tahoma, Arial, Verdana, sans-serif; outline: none; }
body { color: #000; background-color: #FFFFFF; font-size: 0.70em; font-style: normal; font-weight: normal; line-height: 1.4em; }
.reset, .reset li, #pager ul, #pager ul li { margin: 0; padding: 0; list-style: none; }

.listing li.listing { padding: 3px 4px; border: 1px solid #E0E0E0; margin-bottom: 2px; }
.listing li.listing:hover { background-color: #f9f9f9; }

/*НАСТРОЙКА ФОНА*/
.page_bg {
	text-align: center;
	background-color: #f2f2f2;
}

/*Other*/
p { padding: 0; margin: 0 0 0.4em 0; }
.clr { clear: both; }
img  { border:0 none; max-width:100%; }
img.left { float: left; margin: 2px 20px 16px 0; }
img.right { float: right; margin: 2px 0 16px 20px; }
hr	{ border: none; border-top: 1px solid #cfcfcf; }
strong { font-weight: bold; }

.lcolomn { float: left; display: inline; }
.rcolomn { float: right; display: inline; }
table { border-collapse: collapse; border-spacing: 0; border: 0 none; }

/*UL, LI*/
ul {
    margin: 0;
    padding-left: 16px;
    list-style-position:outside;
    list-style-image:none;
}

ul li { margin: 0; padding: 0; }

ol {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: decimal;
	margin-bottom: 18px;
	margin-left: 2.2em;
}

/*===== ОБЩЕЕ ОФОРМЛЕНИЕ =====*/
/*ОСНОВНОЙ БЛОК ШАБЛОНА*/
.wrapper {
	margin: auto;
	width: 981px;
	text-align: left;
	padding-top: 15px;
	padding-bottom: 15px;
}

/*dleft, dright*/
.dleft, .dright { background-position: left; background-repeat: repeat-y; background-color: transparent; }
.dright { background-position: right; }

/*headerboxic  - Настройка шапки где расположен логотип и баннер*/
#headerboxic, #headerboxic .dleft, #headerboxic .dright { height: 71px; } /*Высота*/
#headerboxic { margin-bottom: 3px; background: #ffffff url("../images/eleanortemplate_bg_xaxa.png") repeat-x left -71px; position: relative; }
#headerboxic .dleft { padding-left: 15px; background: transparent url("../images/eleanortemplate_bg_xaxa.png") repeat-y left 0; }
#headerboxic .dright { padding-right: 5px; background: transparent url("../images/eleanortemplate_bg_xaxa.png") repeat-y right -142px; }

.logotype {	float: left; position: relative; top: 8px; } /*НАСТРОЙКА ЛОГОТИПА*/
.headbanner { float: right; position: relative; top: 5px; }
.headbanner img { width: 468px; height: 60px; }


/*menuhead - Настройка верхнего меню СТРОКА 1*/
#menuhead, #menuhead .dleft, #menuhead .dright { height: 41px; }
#menuhead { margin-bottom: 3px; background: #4c4c4c url("../images/eleanortemplate_bg_xaxa.png") repeat-x left -254px; }
#menuhead .dleft { padding-left: 12px; background: transparent url("../images/eleanortemplate_bg_xaxa.png") repeat-y left -213px; }
#menuhead .dright { padding-right: 12px; background: transparent url("../images/eleanortemplate_bg_xaxa.png") repeat-y right -295px; }

/*container - содержательная центральная часть*/
.container { }

.mainbox {
	float: right;
	width: 760px; height: auto;
}

#maincolR {
	float: left;
	width: 539px; height: auto;
}

#maincol {
	float: left;
	width: 760px; height: auto;
}

/*leftcol - левая колонка для блоков*/
#leftcol {
	float: left;
	width: 218px; height: auto;
}

#rightcol {
	float: right;
	width: 218px; height: auto;
}

#rightcol a { color: #aad8ed; }

/*footer - нижняя часть*/
#footmenu, #footmenu .dleft, #footmenu .dright { height: 24px; } /*Высота*/
#footmenu { margin-bottom: 3px; background: #4c4c4c url("../images/eleanortemplate_bg_xaxa.png") repeat-x left -360px; }
#footmenu .dleft { padding-left: 12px; background: transparent url("../images/eleanortemplate_bg_xaxa.png") repeat-y left -336px; }
#footmenu .dright { padding-right: 9px; background: transparent url("../images/eleanortemplate_bg_xaxa.png") repeat-y right -384px; }

/*TOP BTN*/
a.top-top {
	float: right;
	outline: none;
	position: relative;
	top: 4px;
}

a.top-top:hover {
	background-position: left bottom;
}

/*footer - нижняя часть*/
#footer, #footer .dleft, #footer .dright { height: 50px; } /*Высота*/
#footer { margin-bottom: 6px; background: #4991c3 url("../images/eleanortemplate_bg_xaxa.png") repeat-x left -458px; }
#footer .dleft { padding-left: 25px; background: transparent url("../images/eleanortemplate_bg_xaxa.png") repeat-y left -408px; }
#footer .dright { padding-right: 9px; background: transparent url("../images/eleanortemplate_bg_xaxa.png") repeat-y right -508px; }


/*copyright - Копирайты*/
.copyright {
	float: left;
	color: #595959;
	padding-top: 15px;
}

.copyright a { color: #595959; }

/*===СЧЕТЧИКИ===*/
div.count {
	float: right;
	display: inline;
	padding-top: 9px;
}

div.count span {
	display: block;
	float: left;
	height: 31px;
	margin-right: 2px;
}

#syscopyright {
	padding-left: 25px;
	padding-right: 25px;
	font-size: 0.9em;
	line-height: 15px;
	color: #b1b1b1;
}

#syscopyright a { color: #616161; }

.centroarts { float: right; }

.twocol .colomn { float: left; width: 50%; margin: 0 -1px; }
.threecol .colomn { float: left; width: 33.3%; }

.avatarcol { padding: 0 0 0 90px; }
.avatarcol .lcolomn { margin: 0 0 0 -90px;  width: 90px; overflow: hidden; }
.avatarcol .rcolomn { width: 100%; }
.avatarcol .avatarbox img { width: 80px; }

/*tooltip*/
.tooltip { z-index:1000; text-align:left;	border:1px solid #d9dee3; padding: 8px; min-width:50px; max-width:400px; background-color:#f2f4f6;
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
}

.tooltip .tip-arrow-top, .tooltip .tip-arrow-right,
.tooltip .tip-arrow-bottom, .tooltip .tip-arrow-left { width: 10px; height: 10px; background: url("../images/tip_arrows.png") no-repeat; }
.tooltip .tip-arrow-top, .tooltip .tip-arrow-left { margin-top: -10px; margin-left: 6px; top: 0; left: 0; }
.tooltip .tip-arrow-right { margin-top:6px; margin-left:0; top:0; left:100%; background-position: -10px 0; }
.tooltip .tip-arrow-bottom { margin-top:0; margin-left:6px; top:100%; left:0; background-position: -20px 0; }
.tooltip .tip-arrow-left { margin-top:6px; margin-left:-10px; background-position: -30px 0; }

/*tabs*/
.linetabs { padding: 0 4px; margin: 0 0 5px 0; height: 33px; overflow: hidden; background: #e4e5e5 url("../../Audora/images/htools.png") repeat-x 0 -342px; }
.linetabs li { display: inline; }
.linetabs a, .linetabs a b { float: left; height: 23px; cursor: pointer; font-weight: normal; text-decoration: none; }
.linetabs a { color: #505252; line-height: 22px; margin: 9px 1px 0 0; background: #c6c6c6 url("../../Audora/images/htools.png") no-repeat 0 -421px; }
.linetabs a b { background: url("../../Audora/images/htools.png") no-repeat 100% -375px; padding: 0 12px; }

.linetabs a:hover { background-position: 0 -444px; background-color: #fdfdfd; }
.linetabs a:hover b { background-position: 100% -398px; }

.linetabs a.selected, .linetabs a.selected b { height: 28px; }
.linetabs a.selected { line-height: 27px; margin: 5px 1px 0 0; background-position: 0 -495px; background-color: #fff; }
.linetabs a.selected b {  background-position: 100% -467px; }

.tabcontent { display: none; }
@media print {
.tabcontent {
	display: block !important;
}
}

/*table style*/
.tabstyle, .filtertable { width: 100%; }
.tabstyle td, .tabstyle th, .filtertable td { padding: 7px 10px; }
.tabform .first td { padding-top: 3px; }
.tabstyle th { text-align: center; }
.tabstyle td, .filtertable td { border: 1px solid #dbdbdb; background: url("../../Audora/images/tablerow.png") repeat-x 0 100%; }
.tabstyle td table.inside td { background: none; padding: 0; border: 0 none; }
.tabstyle .tabletrline2:hover td, .tabstyle .tabletrline1:hover td { background: #f1f1f1; }
.filtertable td { border-width: 0 0 1px 0; }

.tabform td { border-width: 0 0 1px 0; vertical-align: top; }
.tabform .tabletrline2:hover td, .tabform .tabletrline1:hover td { background: url("../../Audora/images/tablerow.png") repeat-x 0 100%; }

.tablethhead th { padding: 5px 10px; color: #fff; font-size: 0.9em; border: 1px solid #373839; background: #57595a url("../../Audora/images/tablethhead.png") repeat-x 0 100%; }
.tablethhead th a { color: #fff; }
.infolabel td { background: none; padding-top: 14px; border-bottom: 2px solid #9fa3aa; text-align: left; font-size: 1.5em; padding-top:15px !important;}

.function { text-align: right; }
.function img { vertical-align: middle; margin: 0 2px; }

.submitline { padding: 10px 8px 5px 8px; text-align: center; background: url("../../Audora/images/submitline.png") repeat-x 0 0; }
button, input[type=button], input[type=submit] {
	border: 1px solid #bdbdbd; color: #747474; font-weight: bold; cursor: pointer;
	background: #fff url("../../Audora/images/buttons.png") repeat-x 0 100%;
	padding-bottom: 3px; padding-top: 3px;
	-moz-border-radius-bottomleft:12px;
	-moz-border-radius-bottomright:12px;
	-moz-border-radius-topleft:12px;
	-moz-border-radius-topright:12px;
}
button.button:hover, input.button:hover { color: #4c4c4c; background: #fff; }

.label { font-weight: bold; text-align: right; vertical-align: top; width: 90px; color: #525252; }
.label .small { font-weight: normal; line-height: 1.3em; }
.imp { color: #d34b4b; font-weight: normal; }
.labinfo {cursor:help;display: inline-block; white-space: nowrap; margin: -2px 2px 0 0; vertical-align: middle; line-height: 40px; height: 13px; width: 16px; overflow: hidden; background: url("../../Audora/images/labinfo.png") no-repeat 0 0; }

/*upload image*/
.screenblock { color: #757575; vertical-align: middle; text-align: center; display: table-cell; background-color: #ebe9e5; border: 1px solid #c9c7c3; }

/*Вкладка заполнения других языков*/
ul.editlang, ul.editlang li { list-style: none; padding: 0; margin: 0; }
.ol_heading { background: #fff url("../images/submitline.png") repeat-x 0 0; border-bottom: 1px solid #d6d6d6; border-top: 1px solid #ededed; font-weight: bold; padding: 5px; display: block; }
.ol_heading img { float: left; margin-right: 8px; }

/*в настройках*/
.langtabcont { float: left; padding: 4px; border: 1px solid #dbddde; }
.langtabs { clear: both; }
.langtabs img { width: 20px; height: 16px; padding: 3px; border: 0 solid #dbddde; margin-top: -1px; }
.langtabs .selected img { border-width: 0 1px 1px 1px; background-color: #fff; }

/* tools.css */
/*menuhead - Верхнее основное меню*/
.adminmenupanel .adminsubmenu { z-index: 999; }

/*menuhead - Верхнее основное меню*/
ul.topmenu, ul.topmenu ul, ul.topmenu li, ul.blockmenu, ul.blockmenu ul, ul.blockmenu li { display: block; list-style: none; padding: 0; margin: 0; }
ul.topmenu li, ul.blockmenu li { float: left; }
ul.topmenu {
	float: left;
	padding-left: 2px;
	background: url("../images/menuhead.png") no-repeat left top;
}
ul.topmenu a, ul.blockmenu a{
	font-weight: bold;
	float: left;
	height: 39px;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	background: url("../images/menuhead.png") no-repeat right top;
	line-height: 39px;
	padding: 0 17px 0 15px;
}

ul.topmenu a:hover, ul.blockmenu a:hover { background: #2e2e2e url("../images/menuhead.png") repeat-x left -39px }
/*submenu*/
ul.topmenu li.hassubmenu, ul.blockmenu li.hassubmenu { background: url("../images/down.gif") no-repeat 50% 27px; }
ul.topmenu a.hassubmenu:hover, ul.blockmenu a.hassubmenu:hover  { background: #2e2e2e url("../images/down.gif") no-repeat 50% 27px; }

ul.topmenu ul a.hassubmenu, ul.blockmenu a.hassubmenu { background: #2e2e2e url("../images/right.gif") no-repeat 98% 50% }
ul.topmenu ul a:hover, ul.blockmenu a:hover { background: #575757; color: white; }
ul.topmenu ul a.hassubmenu:hover, ul.blockmenu a.hassubmenu:hover { background: #575757 url("../images/right.gif") no-repeat 98% 50%;}

ul.topmenu ul, ul.blockmenu, ul.blockmenu ul{
	width: 195px;
}

ul.topmenu ul, ul.blockmenu, ul.blockmenu ul{
	background-color: #393939;
	border: 1px solid #2c2c2c;
	border-bottom-width: 0;
	text-align: left;
}

ul.topmenu ul, ul.blockmenu ul { position: absolute; display: none; z-index: 100; }

ul.topmenu ul a, ul.blockmenu a{
	width: 155px;
	height: 20px;
	color: #fff;
	background: #2e2e2e;
	border-bottom: 1px solid black;
	text-align: left;
	padding: 4px 20px;
	line-height: 20px;
}

/*footmenu - нижнее меню*/
#footmenu span {
	float: left;
	height: 22px;
	padding-left: 2px;
	background: transparent url("../images/menuhead.png") no-repeat left -5px;
}

#footmenu span a{  }
#footmenu span a {
	text-align: center;
	color: #ffffff;
	text-decoration: none !important;
	background: none;
	font-size: 0.9em;

	float: left;
	height: 22px;

	line-height: 22px;
	background: transparent url("../images/menuhead.png") no-repeat right -5px;
	cursor: pointer;
	padding: 0 13px 0 11px;
}

#footmenu span a:hover { background: #2e2e2e url("../images/menuhead.png") repeat-x left -39px; }

/*language*/
.language { float: right; padding-top: 10px; }
.language a, .language a b { float: left; height: 19px; }
.language a {
	text-align: center;
	color: #f9f9f9;
	text-decoration: none !important;
	background: #545454 url("../images/language.png") no-repeat right -38px;
	font-size: 10px;
	text-transform: uppercase;
	line-height: 17px;
	margin-left: 2px;
}

.language a b {
	background: transparent url("../images/language.png") no-repeat left 0;
	cursor: pointer;
	padding: 0 7px 0 7px;
}

.language a:hover { background: #717171 url("../images/language.png") no-repeat right -57px; }
.language a:hover b { background: transparent url("../images/language.png") no-repeat left -19px; }

/* blocks.css */
/*LEFTBLOCKS*/
.blocktype1 {
	margin-bottom: 3px;
	width: 218px;
	background: #fbfbfb url("../images/blocktype1.png") repeat-y -218px top;
}
.blocktype1 .dbottom { background: transparent url("../images/blocktype1.png") no-repeat -436px bottom; }
.blocktype1 .dtop { height: 28px; background: #e3e3e3 url("../images/blocktype1.png") no-repeat left top; }
.blocktype1 .dtop h3 a { color: #525252; }
.blocktype1 .dtop h3 {
	padding: 0 15px;
	padding-top: 7px;
	font-weight: bold;
	font-size: 1em;
	color: #525252;
}

.blocktype1 .dcont { padding: 8px 15px 10px 15px; }

/*RIGHTBLOCKS*/
.blocktype2 {
	margin-bottom: 3px;
	width: 218px;
	background: #575757 url("../images/blocktype2.png") repeat-y -218px top;
}
.blocktype2 .dbottom { background: transparent url("../images/blocktype2.png") no-repeat -436px bottom; }
.blocktype2 .dtop { height: 28px; background: #e0e0e0 url("../images/blocktype2.png") no-repeat left top; }
.blocktype2 .dtop h3 a { color: #525252; }
.blocktype2 .dtop h3 {
	padding: 0 15px;
	padding-top: 7px;
	font-weight: bold;
	font-size: 1em;
	color: #525252;
}

.blocktype2 .dcont { padding: 8px 15px 10px 15px; }
.blocktype2 { color: #e4e4e4; }

/*LOGINBLOCKS*/
.blocklogin {
	margin-bottom: 3px;
	width: 218px;
	background: #ffffff url("../images/blocklogin.png") repeat-y -218px top;
}
.blocklogin .dbottom { background: transparent url("../images/blocklogin.png") no-repeat -436px bottom; }
.blocklogin .dtop { background: transparent url("../images/blocklogin.png") no-repeat left top; }
.blocklogin .dcont { padding: 8px 15px 10px 15px; }

.logintext { padding-bottom: 8px; }
.logintext span {
	display: block;
	padding-bottom: 3px;
}

.logintext div {
	display: block;
	width: 188px; height: 20px;
	background: #e4e4e4 url("../images/logininput.png") no-repeat right -20px;
}

.logintext div div {
	width: auto; height: 20px;
	background: transparent url("../images/logininput.png") no-repeat left 0;
	padding-left: 4px;
}

.logintext div div input {
	width: 180px;
	padding-top: 3px;
	border: none;
	background: none;
}

.enterbtn:hover {
	background-position:0 -27px;
}
.enterbtn {
	background: #858585 url("../images/loginenter.png") no-repeat 0 0;
	border: 0 none;
	cursor: pointer;
	font-weight: bold;
	width: 82px; height: 27px;
	margin-top: 8px;
	padding-bottom: 2px;
	color: #fff;
}

/*baseblock - Центральный блок для основного контента - Присутствуют правые блоки*/
#maincolR .baseblock { width: 539px; margin-bottom: 3px; background: #fcfcfc url("../images/baseblock.png") repeat-y -539px top; }
#maincolR .baseblock .dbottom { background: transparent url("../images/baseblock.png") no-repeat -1078px bottom; }
#maincolR .baseblock .dtop { background: transparent url("../images/baseblock.png") no-repeat 0 top; }
#maincolR .baseblock .dcont { padding: 7px 1px 8px 1px; }

/*baseblock - Центральный блок для основного контента*/
#maincol .baseblock { width: 760px; margin-bottom: 3px; background: #fcfcfc url("../images/baseblock2.png") repeat-y -760px top; }
#maincol .baseblock .dbottom { background: transparent url("../images/baseblock2.png") no-repeat -1520px bottom; }
#maincol .baseblock .dtop { background: transparent url("../images/baseblock2.png") no-repeat 0 top; }
#maincol .baseblock .dcont { padding: 7px 1px 8px 1px; }

/*QUICKLINKS*/
.blocktype1 ul.navs		{list-style: none; padding: 0; margin: 0; }
.blocktype1 ul.navs li	{ background: none; padding: 0; margin: 0; }
.blocktype1 ul.navs li a	{
	background: url("../images/quick_menu.png") no-repeat left bottom;
	font-weight: bold;
	display: block;
	width: 100%; height: 31px;
	line-height: 28px;
	color: #828282;
}

.blocktype1 ul.navs li a:hover {
	color: #469ebf;
	text-decoration: none;
	background: transparent url("../images/quick_menu.png") no-repeat right bottom;
}

/*Блок категорий*/
ul.blockcategories		{list-style: none; padding: 0; margin: 0; }
ul.blockcategories li	{ background: none; padding: 0; margin: 0; }
ul.blockcategories li {
	border-bottom: 1px solid #e0e0e0;
	padding: 4px 0;
}

ul.blockcategories li a { font-weight: bold; }


ul.blockcategories li.subcat ul { padding-left: 10px !important; }
ul.blockcategories li.subcat ul li { padding: 2px 0; border-bottom: none; }
ul.blockcategories li.subcat ul li a { color: #828282; }
ul.blockcategories li a:hover { }


/*blocksites - блок топ сайты*/
.blocktype1 ul.navs li.button {
	text-align: center;
	padding-top: 5px;
}

.blocktype1 ul.navs li.button a	{
	background: url("../images/buttons_type1.png") no-repeat left top;
	font-weight: bold;
	display: block;
	width: 107px; height: 28px;
	line-height: 26px;
	color: #ffffff;
	margin: auto;
}

.blocktype1 ul.navs li.button a:hover	{ background: url("../images/buttons_type1.png") no-repeat left -28px; }

/* base.css */
/*-----MAIN-----*/
.base { padding-bottom: 25px; }
.binner { padding: 0 18px;}

/*ЗАГОЛОВОК ЦЕНТРАЛЬНЫХ STORY*/
.heading { background: transparent url("../images/moduletitlearrow.gif") no-repeat left 9px; }
.heading .binner { padding-bottom: 5px; }

.heading2 { background: transparent url("../images/moduletitle.png") repeat-x left bottom; }
.heading2 .binner { padding-bottom: 9px; }

.heading h6, .heading2 h6 {
	font-size: 20px;
	font-weight: normal;
	color: #696969;
	padding-top: 8px;
}

.heading h1, .heading .binner h2, .heading2 h1 {
	font-size: 12px;
	font-weight: bold;
	color: #469ebf;
	padding-top: 5px;
}

/*modulemenu*/
ul.modulemenu,ul.modulemenu ul, ul.modulemenu li { display: block; list-style: none; padding: 0; margin: 0; }
ul.modulemenu li { float: left; }
ul.modulemenu {
	height: 25px;
	background: #7d7d7d url("../images/moduletitle.png") repeat-x left top;
	line-height: 23px;
	font-size: 0.9em;
	font-weight: bold;
	color: #ffffff;
}

ul.modulemenu a, ul.modulemenu span{
	float: left;
	height: 25px;
	color: #fff;
	padding: 0 5px;
	text-decoration: none;
}

ul.modulemenu .active{ color:#333; }

ul.modulemenu a:not(.active):hover { background: #2e2e2e url("../images/menuhead.png") repeat-x left -39px; }

/*submenu*/
ul.modulemenu ul a:hover { background-color: #d8d8d8; }

ul.modulemenu ul{
	width: 150px;
}

ul.modulemenu ul{
	position: absolute;
	z-index: 99;
	background-color: #eee;
	border: 1px solid #cccccc;
	border-bottom-width: 0;
	display: none;
	padding: 4px;
	text-align: left;
}

ul.modulemenu ul a{
	width: 130px;
	display: block;
	padding: 0 10px;
	line-height: 20px;
	height: 20px;
	color: #4e4e4e;
	border-bottom: 1px solid #cccccc;
}

/*moreinfo*/
.moreinfo { font-size: 0.9em; color: #a3a3a3; }

/*ARGUMENTS*/
.arg, .argmore { padding-right: 9px; float: left; display: inline; }
.arg img.left { margin: 2px 3px 0 0; }
.argr { float: right; padding-left: 6px; }
.ratebase { float: right; width: 105px; }

span.argmore a {
	padding-right: 20px;
	background: transparent url("../images/morearrow.gif") no-repeat right 60%;
	font-weight: bold;
}

/*СОДЕРЖИМОЕ*/
.maincont {
	background: transparent url("../images/basegrad.png") repeat-x left top;
	padding: 0 0 7px 0;
}

.morelink {
	background: transparent url("../images/morelink.png") repeat-x left top;
	height: 29px;
}

.morelink .binner { padding-top: 5px; }

/*COMMENTS*/
.comment { background: #ffffff url("../images/commentbg.png") repeat-x left top; }
*html .comment { width: 100%; }
.comment .binner { padding-top: 10px; padding-bottom: 10px; }
.heading h2 { font-size: 18px;}

.signature { padding-top: 13px; margin: 0; font-size: 0.9em; color: #a4a4a4; position: relative;}
.signature a { color: #a4a4a4; }

.comment .morelink { padding: 15px 0 7px 0; }
.comment .moreinfo { font-size: 0.9em; color: #a4a4a4; }
.comment .heading { padding: 0 0 7px 0; background: none; }
.comment .maincont { background: none; }
.comment .cb-insertnick { cursor:pointer; }
.comment .cb-findcomment, .comment .answers { font-weight:bold; }

#comments .moderate { padding:0 18px 5px 0; text-align:right; }
#comments .children { padding-left:50px; }
#comments div.status { text-align:center; padding:7px;margin:7px 0; display:none; border:1px gray dotted; }
#comments div.ok { background-color:lightgreen; }
#comments div.error { background-color:#f88; }
#comments div.load { background-color:lightblue; }

/* engine.css */
.small { color: #787878; font-size: 10px; font-weight: normal;}
.small td { color: #787878; font-size: 10px; font-weight: normal;}

/*code подсветка кода!*/
div.code {
	width:100%;
	overflow:auto;
}

div.code pre code {
	word-wrap:normal;
}

.quote {
	color: #a5a4a4;
	background: #f9f7f6 url("../images/quote.gif") left top no-repeat;
	border: 1px solid #f3f2f1;
	padding: 7px;
	padding-top: 20px;
	clear: both;
}

/* Extend Quote */
blockquote.extend .top {
	background-color: #eee;
	border-color: #000000 #000000 -moz-use-text-color #2A2C2E;
	border-style: dotted dotted none solid;
	border-width: 1px 1px 0 4px;
	color: #000000;
	font-size: 10px;
	font-weight: bold;
	margin: 2px auto 0;
	padding: 3px;
}

blockquote.extend .text {
	background: none repeat scroll 0 0 #FCFCFC;
	border-color: -moz-use-text-color #000000 #000000 #2A2C2E;
	border-style: none dotted dotted solid;
	border-width: 0 1px 1px 4px;
	color: #656565;
	margin: 0 auto;
	padding: 4px;
}

/* Spoiler */
.spoiler { 	border: 1px black dotted; }
.spoiler .top {
	background-color: #eee;
	font-size: 10px;
	font-weight: bold;
	padding: 3px;
	cursor:pointer;
}

.spoiler .text {
	background: none repeat scroll 0 0 #FCFCFC;
	padding: 4px;
}

/*TABLE*/
table.blocktable th{
	height: 26px;
	color: #bb3000;
	background: #ffcaad url(../images/blocktable_th.png) left 1px repeat-x;
}

table.blocktable tr.tabletd1 { background: #ffffff; }
table.blocktable tr.tabletd2 { background: #fffaf2; }
table.blocktable th a{ color: #bb3000; }

/*tables*/
.tabstyle td, .tabstyle th {
	border: 1px solid #eee;
	padding: 3px;
}

.tabstyle th {
	background: #f7f7f7 url("../images/tabstyle_bgth.png") repeat-x left top;
	height: 27px;
	color:black;
}

/* ----- PAGENUMBER ----- */
div.numbers {}
div.numbers a,
div.numbers span { font-weight: bold; }

div.numbers span {
	padding: 4px 2px;
	background-color: #eeeeee;
}

div.numbers span.numbersmore {
	padding: 4px 2px;
	background: none;
	border: none;
}

div.numbers a { padding: 4px 2px; }
div.numbers a:hover {
	background-color: #ff8200;
	color: #ffffff;
	text-decoration: none;
}

/*рейтинг*/
.rate {
	cursor: pointer;
	float: right;
	text-align: left;
	padding-top: 2px;
	width: 105px;
}

.rate div { height:15px; }
.rate div.hover { background: transparent url("../images/rating.gif") no-repeat left -30px; }
.rate div.active { background: transparent url("../images/rating.gif") no-repeat left -15px; }
.rate div.noactive { background: transparent url("../images/rating.gif") no-repeat left 0; }

/*КАЛЕНДАРЬ*/
.blockcalendar hr { clear: both; }
.month span.selyears { float: right; padding-top: 3px; }
.month span.selyears a { padding-left: 2px; }
.month { clear: both; }
.blockcalendar h4 {
	float: left;
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 2px;
}

.blockcalendar table {
	clear: both;
	width: 100%;
}

.blockcalendar td {
	border: 1px solid #1e1e1e;
	padding: 4px 2px;
	text-align: center;
}

tr.c_days td {
	background-color: #8c8c8c;
	font-weight: bold;
	color: #433e3e;
	padding: 0;
}

tr.c_days td.vday {
	font-weight: bold;
	color: #d6d6d6;
	border-right: 1px solid #1e1e1e;
	border-bottom: 1px solid #1e1e1e;
}

td.vday { color: #ff6600; }

.blockcalendar td.today { color: #ffa800; background-color: #653718; }

/*Переключение месяцов*/
.blockcalendar .arrows { height: 30px; }
.blockcalendar .arrows hr { border-color: #1e1e1e; }
.blockcalendar .arrows a { padding: 4px; font-size: 10px; font-weight: bold; }
.blockcalendar .arrows .arrowleft { float: left; }
.blockcalendar .arrows .arrowright { float: right; }

/*FILESFULL*/
/*THUMB IMG*/
a.thumbimage {
	border: 1px solid #e2dbd9;
	float: left;
	margin-right: 8px;
	margin-bottom: 6px;
}

a.thumbimage img {
	display: block;
	width: 160px; height: 100px;
	border: 1px solid #ffffff;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

a.thumbimage span {
	display: block;
	text-align: center;
	padding: 2px 0;
	font-weight: bold;
	background-color: #f4f0ed;
	font-size: 10px;
}

a.thumbimage:link span, a.thumbimage:visited span, a.thumbimage:hover span { color: #c2b7b4; }
a.thumbimage:hover span { text-decoration: underline; }

/*VOTING*/
ul.voting, ul.voting li { margin: 0; padding: 0;  background: none; list-style-type: none; }
ul.voting li { padding: 3px 0; }

/*VOTE ID ALL*/
ul.voting li div { height: 15px; background-image: url("../images/vote_1.png"); }
ul.voting li div { background-repeat: repeat-x; background-position: left -15px; background-color: #ee6501; }
ul.voting li div div { background-repeat: no-repeat; background-position: left top; background-color: transparent !important; }
ul.voting li div div div { background-repeat: no-repeat; background-position: right -30px; background-color: transparent !important; }

/*TABLE*/
.tableline tr { background: #ffffff url("../images/table_linebg.png") repeat-x left top; }

.formeditor { width: 100%; }

.formeditor td.label {
	font-weight: bold;
	text-align: right;
	vertical-align: top;
	width: 180px;
	padding-left: 0;
	color: #959595;
}

.formeditor td {
	padding: 5px;
	vertical-align: top;
}

.formeditor tr { background: #ffffff url("../images/table_linebg.png") repeat-x left top; }

.formeditor tr td table tr { background: none; }
.formeditor tr td table td { padding: 0; }

.formeditor td.label .small { font-weight: normal; }

.formeditor td .select,
.formeditor td input[type=text],
.formeditor td textarea {
	padding: 2px;
	color: #777;
	border: 1px solid #bcbcbc;
}
.formeditor td textarea { padding: 0; }

.formeditor td .select { width: 180px; }
.formeditor td input[type=text] { width: 290px; }
.formeditor td textarea { width: 320px; }

.formeditor td .impfields {
	color: #ffae00;
	font-weight: normal;
}

tr.infolabel {
	background: #f7f7f7 url("../images/tabstyle_bgth.png") repeat-x left top;
	border-top: 1px solid #d6d6d6;
	text-align: center;
}

tr.infolabel td {
	padding: 5px;
	color: #ff9000;
	font-weight: bold;
	background: none;
	text-transform: uppercase;
	font-size: 10px;
}

.subheading { font-size: 1em; margin-bottom: 1em; text-transform: uppercase; }

/*Загрузка*/
#loading {
	position:fixed;
	display:none;
	width: 297px;
	height: 130px;
	background: #ffffff url("../images/loading.gif") center center no-repeat;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	z-index:1000;
}

#loading span{
	margin-top: 106px;
	display: block;
	color: #787878;
	font-size: 10px;
}

/*MODULE FILES*/
ul.faisup { padding: 3px; margin: 0;}
ul.faisup li ul { padding: 0; margin: 0; float: left; width: 96%; }
ul.faisup li { border: 1px dotted #d6d6d6; padding: 4px; background: #ffffff url("../images/table_linebg.png") repeat-x left -3px; list-style-type: none;}
ul.faisup li ul li { border: none; background: none; padding: 1px 0; margin: 0; float: left; width: 98%; clear: both; list-style-type: none;}
ul.faisup li ul li span { float: left; width: 25%; }
ul.faisup li ul li div { float: left; width: 73.5%; }
ul.faisup li ul li div input, ul.faisup li ul li div textarea { width: 100% !important; }

ul.faisup a.faisup_btn { float: right; padding: 0 2px; }
ul.faisup a.faisup_btn img { width: 12px; height: 12px; }

/*CATECORIES*/
table.categories { width: 100%; }
table.categories td { padding: 4px; }
table.categories ul {margin: 2px 0;padding: 0 0 0 5px;}
table.categories ul li {
	margin: 2px 0; padding: 0 0 0 14px;
	list-style-type: none;
	background: url("../images/navi.gif") no-repeat left 4px;
}

table.categories td { border:0px;vertical-align:top; }

/*Errors*/
.errorinput span {
	color: #9f9f9f;
}

.errorinput input, .errorinput textarea {
	border: 1px solid #bbbbbb;
	background-color: #ffffff;
}

.errorinput input { width: 200px; }
.errorinput textarea { width: 99%; }

a.button	{
	background: #ffb800 url("../images/buttons_type1.png") no-repeat left top;
	font-weight: bold;
	display: block;
	width: 107px; height: 28px;
	line-height: 26px;
	color: #ffffff;
	margin: auto;
	text-align: center;
}

a.button:hover	{ background: #ffb800 url("../images/buttons_type1.png") no-repeat left -28px; }

/*Перенос смайлов */
.smile { display:inline-block; }


/*ОШИБКИ*/
.warning {
	padding: 6px;
	text-align: left;
	color: #7e7e7e;
	margin: auto;
	margin-bottom: 16px;
	line-height: 140%;
	background-color: #fafafa;
	border: 1px solid #e7e7e7;
	font-family: Tahoma, Helvetica, sans-serif;
}

.warning h4 {
	font-size: 17px;
	color: #4e4e4e;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 2px;
	font-family: Tahoma, Helvetica, sans-serif;
}

.warning img { margin-right: 13px; }

/*Галерея аватаров*/
.galleryavatars { text-align:center; }
.galleryavatars a {
	float: left;
	padding: 1px;
	margin-right: 5px;
	background-color: #cbcbcb;
	cursor: pointer;
	text-decoration: none !important;
}

.galleryavatars a b {
	display: block;
	background-color: #ffffff;
	padding: 1px;
	width: 80px;
	font-weight: normal;
}

.galleryavatars a img { display: block; width: 80px; }

.galleryavatars a b span {
	display: block;
	color: #a2a2a2;
	text-transform: uppercase;
	font-size: 10px;
}

.galleryavatars a:hover { background-color: #858585; }
.galleryavatars a:hover b { background-color: #ececec; }
.galleryavatars a:hover b span { color: #5b5b5b; }

/*Шапка при уменьшении изображения*/
.resized-image-header {
	position: absolute;
	top: 0;
	left: 0;
	float: left;
	background-color: #000000;
	font-size: 10px;
	color: #ffffff;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}

/*link-button*/
a.link-button, a.link-button b { display: block; height: 23px; color: #fff; text-decoration: none; cursor: pointer; }
a.link-button {
	margin: 0 auto;
	text-align: center;
	line-height: 22px;
	width: 160px;
}
a.link-button { background: #fbb037 url("../images/link-button.png") no-repeat 0 0; }
a.link-button b { background: transparent url("../images/link-button.png") no-repeat 100% -23px; }
a.link-button:hover { background: #fecc48 url("../images/link-button.png") no-repeat 0 -46px; }
a.link-button:hover b { background: transparent url("../images/link-button.png") no-repeat 100% -69px; }

/*Get more*/
.getmore:after { content:">>"; margin-left:5px; }
.getmore-active:after { content:"<<"; margin-left:5px; }

/*All Tags*/
.alltags a { margin:5px; }

/* Editor Panel */
.bb_footpanel {
	background: #f3f3f3 url(../images/bbeditor/footpanel.png) repeat-x 0 0;
	border: 1px solid #bcbcbc;
	border-width: 0 1px 1px 1px;
	height: 23px;
}

.bb_footpanel b a { float: right; }
.bb_footpanel a {
	color: #636363;
	line-height: 23px;
	height: 23px;
	padding: 0 29px 0 9px;
}
.bb_footpanel b a { border-left: 1px solid #d8d8d8; }
.bbf_smiles { background: url(../images/bbeditor/smiles.png) no-repeat 100% 0; }

.bb_yourpanel { padding: 5px 0 3px 0; }
a.bbe_ytext, a.bbe_ytext span {
	float: left;
	cursor: pointer;
	height: 21px;
	text-decoration: none !important;
}
a.bbe_ytext {
	background: url(../images/bbeditor/yourbb.png) no-repeat 0 0;
	line-height: 16px;
	color: #636363;
	margin-right: 3px;
	overflow: hidden;
}
a.bbe_ytext span {
	padding: 0 6px;
	background: url(../images/bbeditor/yourbb.png) no-repeat 100% -21px;
}
a.bbe_ytext:hover { background-position: 0 -42px; }
a.bbe_ytext:hover span { background-position: 100% -63px; }

.bb_smiles { border: 1px solid #cccccc; background-color: #f0f0f0; width: 170px; height: 200px; overflow: auto; }
.bb_smiles a { float: left; width: 51px; height: 42px; }

.imagebtn {
	float: left;
	width: 129px; height: 27px;
	line-height: 25px;
	font-weight: bold;
	text-align: center;
	color: #6d6a65;
	background: #f5f5f5 url(../../../images/uploader/uppanel_btn.png) no-repeat left top;
	text-decoration:none;
}
a.imagebtn:hover { color: #6d6a65; background: #fafafa url(../../../images/uploader/uppanel_btn.png) no-repeat left -27px;text-decoration:none; }

/* inputs */
input.error { background:#FF8377; border-color:#DB8180; }
input.ok { background:#E0F5BD; border-color:#B3D577; }