/*
    Copyright © Eleanor CMS
    URL: http://eleanor-cms.ru, http://eleanor-cms.com
    E-mail: support@eleanor-cms.ru
    Developing: Alexander Sunvas*
    Interface: Rumin Sergey
    =====
    *Pseudonym
*/
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset { margin:0; padding:0; }
h1, h2, h3, h4, h5, pre, code, address, caption, cite, code, table, font { font-size: 1em; font-style: normal; font-weight: normal; }
h1, h2, h3, h4, h5, body { font-family: Tahoma, Arial, Verdana, sans-serif; }
h1, h2, h3, h4, h5 { line-height: 1.2em; font-weight: bold; }
h1 { font-size: 2em; } h2 { font-size: 1.6em; font-family: Arial, Verdana, sans-serif; letter-spacing: -0.01em; } h3 { font-size: 1.20em; } h4 { font-size: 1.2em; } h5 { font-size: 1.0em; }
a { color: #6bb4de; text-decoration: none; outline: none; }
a:hover { text-decoration: underline; }
input, textarea, select, div.textarea { font-size: 1em; font-family: Tahoma, Arial, Verdana, sans-serif; outline: none; }
div.textarea { max-height:250px; width:99%; overflow-y:scroll; border:1px #A5ACB2 solid; padding-left:2px; background-color:#EEE; }
body { color: #000; background-color: #FFFFFF; font-size: 0.70em; font-style: normal; font-weight: normal; line-height: 1.4em; }
.pagebg { padding: 0; margin: 0; background: #2d2f30 url("../images/pagebg.png") repeat-x 0 0; }
p { padding: 0; margin: 0; margin-bottom: 0.4em; }
.clr { clear: both; }
.fleft { float: left; } .fright { float: right; }
a img  { border: 0 none; }
.parag { text-indent: 30px; }
.small { color: #838383; font-size: 0.9em; line-height: normal; }
hr	{ border: 0 none; border-top: 1px solid #cfcfcf; height: 1px; }
ul { margin: 0; padding-left: 16px; list-style-position:outside; list-style-image:none; }
ul li { margin: 0; padding: 0; }
ol { list-style-image: none; list-style-position: outside; list-style-type: decimal; margin-bottom: 18px; margin-left: 2.2em; }
table { border-collapse: collapse; border-spacing: 0; }
.reset, .reset li { margin: 0; padding: 0; list-style: none; }
.wrapper { padding: 86px 0 0; width: 555px; text-align: left; margin: 0 auto; }

.elh { margin: 0 0 4px 0; height: 125px; background: url("../images/elhead.png") repeat-x 0 -250px; }
	.elh .elh { margin: 0; background-position: 0 0; background-repeat: no-repeat; }
	.elh .elh .elh { background-position: 100% -125px;  }

.elh .head { height: 68px; padding: 0 10px 0 10px; }

/*eleanorcms*/
.elh h1 a, .elh h1 { float: left; width: 187px; height: 68px; overflow: hidden; }
	.elh h1 a { background: url("../images/eleanor_cms.png") no-repeat 0 0; overflow: hidden; line-height: 200px; white-space: nowrap; }

/*version*/
.version { float: right; overflow: hidden; }
	.version span span, .version span span span { float: left; height: 22px; background: #4b4d4d url("../images/version.png") no-repeat 0 0; }
	.version span span { margin: 23px 0 0; color: #fff; line-height: 21px; }
	.version span span span { padding: 0 10px 0 10px; margin: 0; background-color: transparent; background-position: 100% -22px; }

/*process*/
.process { padding: 11px 0 0; overflow: hidden; text-align: center; }
	.procline, .procinfo { margin: 0 auto; width: 535px; }
	.procline, .procline img { text-align: left; height: 22px; display: block; background: #2d2d2d url("../images/procline.png") no-repeat 0 0; }
	.procline img { background-color: #ff0e00; background-position: 0 -22px; }
	.procinfo { height: 18px; padding: 2px 0 0 0; overflow: hidden; background: url("../images/procinfo.png") no-repeat 50% 50%; }
	.procinfo span { background-color: #393a3b; color: #cacaca; font-size: 0.9em; padding: 0 6px; }

/*wpbox*/
.wpbox { margin: 0 0 8px 0; }
	.wptop, .wpbtm, .wpmid { background-color: #c4c4c4; overflow: hidden; }
	.wptop, .wpbtm, .wptop b, .wpbtm b { display: block; height: 5px; font-size: 1px; background-image: url("../images/wpbox.png"); background-repeat: no-repeat; }
	.wptop { background-position: 0 0; } .wptop b { background-position: 100% -5px; }
	.wpbtm { background-position: 0 -15px; } .wpbtm b { background-position: 100% -10px; }
	.wpmid { padding: 5px 0 15px 0; }
	.wpcont { overflow: hidden; margin: 0 10px; }

/*whitebox*/
.wpbwhite .wptop, .wpbwhite .wpbtm, .wpbwhite .wpmid { background-color: #fff; }
	.wpbwhite .wptop, .wpbwhite .wpbtm, .wpbwhite .wptop b, .wpbwhite .wpbtm b { background-image: url("../images/wpbwhite.png"); }
	.wpbwhite .wpmid { padding: 0; }
	.wpbwhite .wpcont { margin: 0 5px; }

.elf { margin: 0 0 22px 0; height: 49px; background: url("../images/elfoot.png") repeat-x 0 -98px; }
	.elf .elf { margin: 0; background-position: 0 0; background-repeat: no-repeat; }
	.elf .elf .elf { position: relative; padding: 0 10px 0 17px; background-position: 100% -49px;  }

/*copyright, sysinfo, license*/
.copyright, .copyright a { color: #fff; }
	.copyright { padding: 16px 0 0; }

.elcd { position: absolute; right: 12px; top: -25px; width: 144px; height: 94px; background: url("../images/elcd.png") no-repeat 0 0; }

/*selectlang*/
.selectlang { text-align: center; }
	.selectlang a, .selectlang a span { display: block; cursor: pointer; }
	.selectlang a { text-decoration: none !important; overflow: hidden; text-align: left; margin: 0 auto 4px auto; width: 293px; height: 48px; }
	.selectlang a { color: #000; background: #fff url("../images/selectlang.png") no-repeat 0 0; }
	.selectlang a:hover { background: #f6f9f9 url("../images/selectlang.png") no-repeat 0 -48px; }
	.selectlang a img { float: left; width: 48px; height: 38px; margin: 4px 11px 0 5px; }
	.selectlang a span { padding: 8px 10px 0 0; line-height: 1.3em; }

/*tablespec*/
.tablespec { background-color: #fff; }
	.tablespec td { width: 15%; }
	.tablespec tr.tsline td { border-bottom: 1px solid #e2e2e2; padding: 6px 10px 6px 12px; border-left: 1px solid #fff; text-align: center; }
	.tablespec tr.tsline td.label { width: 70%; vertical-align: top; text-align: left; }
	.tablespec tr.tsline:hover td { background-color: #f7f7f7; }

	.tablespec tr.tsline td.sense { background-color: #fafafa; }
	.tablespec tr.tsline:hover td.sense { background-color: #ececec; }

	.tshead th { border-bottom: 1px solid #e2e2e2; text-transform: uppercase; color: #8f8f8f; font-size: 10px; padding: 0 10px 0 12px; }

	.submitline { padding: 10px 0 5px 0; text-align: center; }

		.button {
			width: 109px; height: 28px;
			padding: 0 0 5px 0; margin: 0 2px;
			cursor: pointer;
			border: 0 none;
			font-weight: bold;
			color: #565656;
			background: url("../images/buttons.png") no-repeat 0 0;
		}
		.button:hover { background: url("../images/buttons.png") no-repeat 0 -28px; }

/*warning, info*/
.warning {
	padding: 6px;
	text-align: left;
	color: #7e7e7e;
	margin: 0 auto 5px auto;
	border: 1px solid #d3d3d3;
	background-color: #fafafa;
	line-height: normal;
}

.warning div { margin-left: 56px; }
	.warning div div { margin: 0; }
	.warning h4 { color: #4e4e4e; font-weight: bold; margin: 0; }
	.warning img { float: left; }

/*forms fields*/
ul.formfield li { padding: 6px 0; }
	ul.formfield li.ffield { overflow: hidden; border-bottom: 1px dotted #d0d0d0; }
	ul.formfield li.ffield div.ffdd { margin-left: 200px; }
	ul.formfield li.ffield .label { float: left; width: 190px; text-align: right; }
	ul.formfield li.ffield h2 { margin: 0; color: #559922; }

	.f_text, .f_tarea, .f_select { width: 300px; background-color: #f2f2f2; border: 1px solid #cccccc; }

.subhead { padding: 0 0 5px 0; margin: 0 0 5px 0; font-size: 0.9em; text-transform: uppercase; color: #8f8f8f; border-bottom: 2px solid #d0d0d0; }

.information, .warning {
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
}

.information { padding: 5px; background-color: #fafafa; margin-bottom: 5px; border: 1px solid #cccccc; }
ul.form-text li.coloms { float: left; width: 49.9%; }

div.license h1, div.license h2, div.license h3, div.license h4, div.license h5 { margin: 0 0 0.4em 0; }
div.license h2 { text-align:center }
div.license p { margin: 0 0 1.4em 0; }
div.license ol, div.license ul { padding: 0; margin: 0 0 1em 0; }
div.license ol ol, div.license ul ul { padding-left: 1em; }

div.license ol { counter-reset: item }
div.license li { display: block }
div.license li:before { content: counters(item, ".") ". "; font-weight: bold; counter-increment: item }
div.license fieldset { border: 1px solid #ccc; margin: 2%; padding: 1%; }
div.license p, div.license li { text-align:justify }