<?php if(Eleanor::$content_type='text/html'):?>
<!DOCTYPE html>
<html>
<head>
<title><?php echo$title?>!</title>
<meta http-equiv="content-type" content="text/html; charset=<?php echo DISPLAY_CHARSET?>" />
<base href="<?php echo PROTOCOL.Eleanor::$domain.Eleanor::$site_path?>" />
<style type="text/css">/*<![CDATA[*/
body, div { color:#1d1a15; font-size: 11px; font-family: Tahoma, Helvetica, sans-serif; }
body { text-align: left; height: 100%; line-height: 142%; padding: 0; margin: 20px; background-color: #FFFFFF; }
hr { height: 1px; border: solid #d8d8d8 0px; border-top-width: 1px; }
.copyright { position:fixed; bottom:10px; right:10px; }
a { text-decoration:none; }
/*]]>*/</style>
</head>
<body>
<span style="font-size:18px"><?php echo$title?></span>
<hr /><code><?php echo$error,DEBUG && isset($extra['file']) ? '<br />File: '.$extra['file'] : '',DEBUG && isset($extra['file']) ? '<br />Line: '.$extra['line'] : ''?></code>
<div class="copyright">Powered by <?php
#Âíèìàíèå! ÑÀÌÎÂÎËÜÍÎÅ ÓÁÈÐÀÍÈÅ ÊÎÏÈÐÀÉÒÎÂ ×ÐÅÂÀÒÎ ÁËÎÊÈÐÎÂÊÎÉ ÍÀ ÎÔÈÖÈÀËÜÍÎÌ ÑÀÉÒÅ ÑÈÑÒÅÌÛ È ÏÐÅÑËÅÄÓÅÒÑß ÏÎ ÇÀÊÎÍÓ!
#ÊÎÏÈÐÀÉÒÛ ÌÅÍßÒÜ/ÏÐÀÂÈÒÜ ÍÅËÜÇß! ÑÎÂÑÅÌ!! ÎÍÈ ÄÎËÆÍÛ ÎÑÒÀÂÀÒÜÑß ÍÅÈÇÌÅÍÍÛÌÈ ÄÎ ÁÈÒÀ! Òàêæå íåäîïóñòèìî è èõ ñêðûòèå!
echo defined('ELEANOR_COPYRIGHT') ? ELEANOR_COPYRIGHT : '<a href="http://eleanor-cms.ru/" target="_blank">CMS Eleanor</a> © '.idate('Y')?></div>
</body>
</html>
<?php else: echo$error; endif?>
