/*
	Copyright © Eleanor CMS
	URL: http://eleanor-cms.ru, http://eleanor-cms.com
	E-mail: support@eleanor-cms.ru
	Developing: Alexander Sunvas*
	Interface: Rumin Sergey
	=====
	*Pseudonym
*/
body, html { padding: 0; margin: 0;}

/*adminmenupanel*/
.hmenu, .hmenu li, .adminsubmenu ul, .adminsubmenu li { padding: 0; margin: 0; list-style: none; }
.fixmenupanel { position: fixed; width: 100%; z-index: 100; left: 0; top: 0; }
.adminmenupanel { width: 100%; height: 38px; background: #4e5050 url("../images/elhead.png") repeat-x 0 -297px; overflow: hidden; border-bottom: 1px solid #000; }
.hmenu, .hmenu li { display: inline; }
	.hmenu a { margin: 5px 2px 0 0; line-height: 27px; text-decoration: none !important; color: #fff; }
	.hmenu a, .hmenu a span { height: 29px; float: left; background: #4b4d4d url("../images/htools.png") no-repeat 0 0; }
	.hmenu a span { cursor: pointer; padding: 0 12px; background: url("../images/htools.png") no-repeat 100% -29px; }
	.hmenu a:hover { background: #626363 url("../images/htools.png") no-repeat 0 -87px; }
	.hmenu a:hover span { background: url("../images/htools.png") no-repeat 100% -116px; }
		.hmenu a.mlink span { padding: 0 22px 0 12px; background-position: 100% -58px; }
		.hmenu a.mlink:hover, .hmenu a.selected { color: #3e3f3f; background: #f6f6f6 url("../images/htools.png") no-repeat 0 -284px; }
		.hmenu a.mlink:hover span, .hmenu a.selected span { background: url("../images/htools.png") no-repeat 100% -313px; }
		.hmenu:after { content: ".";  display: block;  height: 0;  clear: both;  visibility: hidden; }

/*submenu*/
.adminsubmenu { text-align: left; position: absolute; top: 0; margin-top: -1px; border: 1px solid #a1a1a1; z-index:200; background-color: #f6f6f6; width: 200px; display: none; }
.fixmenupanel .adminsubmenu { position: fixed !important; }
.adminmenupanel .twocol { width: 400px; }
.adminmenupanel .threecol { width: 600px; }

.adminsubmenu ul { padding: 4px; }
.adminsubmenu a { width: 100%; display: block; text-decoration: none !important; color: #3e3f3f; }
.adminsubmenu a span { border: 1px solid #f6f6f6; padding: 3px; }
.adminsubmenu a img { width: 16px; height: 16px; float: left; margin: 0 4px 0 0; }
	.adminsubmenu a span { display: block; cursor: pointer; }

.adminsubmenu a:hover { background-color: #fff; }
.adminsubmenu a:hover span { border-color: #dadada; }

/*LOGO ELEANOR CMS*/
.logotypepanel { float: left; width: 142px; height: 38px; }
.logotypepanel img { display: block; width: 142px; height: 38px; }

/*backtoadmin*/
.adminmenupanel .backtoadmin { float: right; position: relative; top: 11px; padding-right: 20px; }

* html .adminmenupanel .backtoadmin { display: none; }

.adminmenupanel .backtoadmin a { color: #a8a8a8; text-decoration: none; }
.adminmenupanel .backtoadmin a { height: 16px; line-height: 14px; display: block; background: url("../images/adminback.png") no-repeat 100% -16px; padding-right: 20px; }
.adminmenupanel .backtoadmin a:hover { color: #fff; }
.adminmenupanel .active a { background: url("../images/adminback.png") no-repeat 100% 0; }