/*
	Copyright © Eleanor CMS
	URL: http://eleanor-cms.ru, http://eleanor-cms.com
	E-mail: support@eleanor-cms.ru
	Developing: Alexander Sunvas*
	Interface: Rumin Sergey
	=====
	*Pseudonym
*/

/*BB EDITOR SOURCE*/
div.bb_editor .dtarea textarea {
	width: 100%;
	margin: 0;
	border: 0 none;
	background: none;
	padding: 0;
}
div.bb_editor .dtarea { border: 1px solid #bcbcbc; }
.bb_editor .bb_panel { padding-bottom: 3px; }

.bb_editor .bb_panel a,
.bb_editor .bb_panel a img {
	float: left;
	width: 20px; height: 22px;
}

.bb_editor .bb_panel a img { background: url(../images/bbeditor/bb_buttons.png) no-repeat; background-position: 100% 100%; }
.bb_editor .bb_panel a {
	outline: none;
	background: url(../images/bbeditor/bb_button_bg.png) no-repeat 0 0;
}

.bb_editor .bb_panel a:hover { background: url(../images/bbeditor/bb_button_bg.png) no-repeat 0 -22px; }

.bb_editor .bb_rpanel { float: right; width: 60px; margin-left: 20px; }
.bb_editor .bb_rpanel a { background: url(../images/bbeditor/bb_button_bg.png) no-repeat -20px 0; }
.bb_editor .bb_rpanel a:hover { background: url(../images/bbeditor/bb_button_bg.png) no-repeat -20px -22px; }

.bb_fonts { border: 1px solid #cccccc; background-color: #fff; }

/*BB BUTTONS*/
.bb_editor a.bb_preview img { background-position: -168px -46px; } /*Предпросмотр*/
.bb_editor a.bb_plus img { background-position: -168px -23px; } /*Увеличить поле*/
.bb_editor a.bb_minus img { background-position: -168px 0; } /*Уменьшить поле*/

.bb_editor a.bb_bold img { background-position: 0 -46px; } /*Полужирный*/
.bb_editor a.bb_italic img { background-position: -21px -46px; } /*Полужирный*/
.bb_editor a.bb_uline img { background-position: -21px 0; } /*Подчеркнутый*/
.bb_editor a.bb_strike img { background-position: -105px 0; } /*Зачеркнутый*/
.bb_editor a.bb_left img { background-position: -21px -23px; } /*Слева*/
.bb_editor a.bb_center img { background-position: -42px -23px; } /*По центру*/
.bb_editor a.bb_right img { background-position: 0 -23px; } /*Справа*/
.bb_editor a.bb_justify img { background-position: -63px -23px; } /*По обоим краям*/
.bb_editor a.bb_code img { background-position: -63px -46px; } /*Код*/
.bb_editor a.bb_quote img { background-position: -84px -46px; } /*Цитата*/
.bb_editor a.bb_hr img { background-position: -105px -46px; } /*Линия*/
.bb_editor a.bb_url img { background-position: -147px -46px; } /*Ссылка*/
.bb_editor a.bb_mail img { background-position: -147px 0; } /*Вставка E-mail*/
.bb_editor a.bb_img img { background-position: -147px -23px; } /*Вставка картинки*/
.bb_editor a.bb_ul img { background-position: -105px -23px; } /*Маркированный список*/
.bb_editor a.bb_ol img { background-position: -84px -23px; } /*Нумерованный список*/
.bb_editor a.bb_li img { background-position: -126px -23px; } /*Строка списка*/
.bb_editor a.bb_nobb img { background-position: -126px -46px; } /*Без BB кодов*/
.bb_editor a.bb_tm img { background-position: -84px 0; } /*Торговая марка*/
.bb_editor a.bb_c img { background-position: -42px 0; } /*Копирайт*/
.bb_editor a.bb_r img { background-position: -63px 0; } /*Зарегистрированный*/
.bb_editor a.bb_smile img { background-position: -126px 0; } /*Смайлы*/
.bb_editor a.bb_font img { background-position: -42px -46px; } /*Шрифт*/
.bb_editor a.bb_tab img { background-position: 0 0; } /*Табуляция*/
.bb_editor a.bb_html img { background-position: -42px -69px; } /*HTML код*/
.bb_editor a.bb_next img { background-position: 0 -69px; } /*Следующая страница*/