/*
	Copyright © Eleanor CMS
	URL: http://eleanor-cms.ru, http://eleanor-cms.com
	E-mail: support@eleanor-cms.ru
	Developing: Alexander Sunvas*
	Interface: Rumin Sergey
	=====
	*Pseudonym
*/

.wrapper { width: 400px; min-width: 400px; margin: 60px auto 0 auto; }
.siteurl, .siteurl a { float: right; color: #d6d6d6; }

/*structure*/
.container { padding: 0 2px 1px 2px; }

/*language*/
.hlang { float: left; }
.elhmenu { overflow: hidden; }
.elhmenu h4 { float: right; font-size: 1em; color: #fff; margin: 15px 0 0; }
.submitline { text-align: center; overflow: hidden; }
.button { width: 109px; height: 28px;
	padding: 0 0 5px 0; margin: 0 2px;
	cursor: pointer;
	border: 0 none;
	font-weight: bold;
	color: #565656;
	background: url("../images/enterbtn.png") no-repeat 0 0;
}
.button:hover { background-position: 0 -28px; }
.enterform p { padding: 4px 0; margin: 0; float: left; width: 100%; clear: both; }
.enterform span { float: left; width: 23%; text-align: right; padding: 2px 6px 0 0; }
.enterform p input { float: left; width: 70%; padding: 2px; font-weight: bold; }

/*Сообщение - рекоммендация по использованию браузеров*/
.msgbrowser, .msgbrowser a { color: #dcdcdc; font-size: 0.9em; }
.msgbrowser a { text-decoration: underline; }
.msgbrowser { display: none; padding-top: 5px; text-align: center; }

*html .msgbrowser { display: block; }
*:first-child+html .msgbrowser { display: block; }