/*
	Copyright © Eleanor CMS
	URL: http://eleanor-cms.ru, http://eleanor-cms.com
	E-mail: support@eleanor-cms.ru
	Developing: Alexander Sunvas*
	Interface: Rumin Sergey
	=====
	*Pseudonym
*/
.bighead, .bighead div { height: 56px; background: url("../images/bighead.png") no-repeat 100% -112px; }
	.bighead { overflow: hidden; margin: 0 0 5px 0; background-color: #454747; background-repeat: repeat-x; }
	.bighead div { padding: 0 0 0 4px; background-position: 0 0; }
	.bighead div div { padding: 0 4px 0 0; background-position: 100% -56px; }
	.bighead img { float: left; margin: 4px 10px 0 0; }
	.bighead p { float: left; margin: 12px 0 0 0; color: #fff; }
	.bighead p b { font-size: 1.6em; font-weight: normal; }
	.bighead p b, .bighead p span { display: block; margin: 0 0 0.1em 0; }
	.bighead p span { color: #a7a8a8; }
	.nodesc p { margin: 18px 0 0 0; }

.midhead {
	padding: 0 5px; height: 26px;
	display: block; border-top: 1px solid #717374;
	color: #fff; font-weight: normal; font-size: 0.9em;
	text-transform: uppercase; line-height: 20px;
}

.midhead span { height: 21px; float: left; padding: 0 10px 0 0; background: url("../images/midhead.png") no-repeat 100% -21px; }
.midhead span span { padding: 0 0 0 10px; background-position: 0 0; }
.midhead span span span { padding: 0; background: #717374 none; }

/*submenu*/
.hmenusub { position: absolute; top: 0; margin-top: -1px; border: 1px solid #a1a1a1; z-index:100; background-color: #f6f6f6; width: 200px;}
.elhmenu .twocol { width: 400px; }
.elhmenu .threecol { width: 600px; }
	.twocol .colomn { float: left; width: 50%; margin: 0 -1px; }
	.threecol .colomn { float: left; width: 33.3%; }

.hmenusub ul { padding: 4px; }
.hmenusub a { width: 100%; display: block; text-decoration: none; color: #3e3f3f; }
.hmenusub a span { border: 1px solid #f6f6f6; padding: 3px; }
.hmenusub a img { width: 16px; height: 16px; float: left; margin: 0 4px 0 0; }
	.blockbtns li a span, .hmenusub a span { display: block; cursor: pointer; }

.hmenusub a:hover { background-color: #fff; }
.hmenusub a:hover span { border-color: #dadada; }

/*blockwel*/
.blockwel { overflow: hidden; height: 154px; border: 1px dotted #ccc; margin: 2px 0 0 2px; }
.blockwel .pad { padding: 5px 8px; line-height: 1.25em; }
.blockwel .dtitle { margin: 0 0 0.4em 0; }

/*blockbtns*/
.blockbtns li { float: left; width: 33.2%; }
.blockbtns li a { overflow: hidden; height: 70px; border: 1px solid #d8d8d8; color: #7a7a7a; text-align: center; display: block; margin: 2px; padding: 4px 0 0 0; text-decoration: none; }
	.blockbtns li a:hover { color: #363636; border-color: #a0a0a0; }
	.blockbtns li a span { font-size: 0.9em; }

/*tabs*/
.linetabs { padding: 0 4px; margin: 0 0 5px 0; height: 33px; overflow: hidden; background: #e4e5e5 url("../images/htools.png") repeat-x 0 -342px; }
.linetabs li { display: inline; }
.linetabs a, .linetabs a b { float: left; height: 23px; cursor: pointer; font-weight: normal; text-decoration: none; }
.linetabs a { color: #505252; line-height: 22px; margin: 9px 1px 0 0; background: #c6c6c6 url("../images/htools.png") no-repeat 0 -421px; }
.linetabs a b { background: url("../images/htools.png") no-repeat 100% -375px; padding: 0 12px; }

.linetabs a:hover { background-position: 0 -444px; background-color: #fdfdfd; }
.linetabs a:hover b { background-position: 100% -398px; }

.linetabs a.selected, .linetabs a.selected b { height: 28px; }
.linetabs a.selected { line-height: 27px; margin: 5px 1px 0 0; background-position: 0 -495px; background-color: #fff; }
.linetabs a.selected b {  background-position: 100% -467px; }

.tabcontent { display: none; }
@media print {
.tabcontent {
	display: block !important;
}
}

/*table style*/
.tabstyle, .filtertable { width: 100%; }
.tabstyle td, .tabstyle th, .filtertable td { padding: 7px 10px; }
.tabform .first td { padding-top: 3px; }
.tabstyle th { text-align: center; }
.tabstyle td, .filtertable td { border: 1px solid #dbdbdb; background: url("../images/tablerow.png") repeat-x 0 100%; }
.tabstyle td table.inside td { background: none; padding: 0; border: 0 none; }
.tabstyle .tabletrline2:hover td, .tabstyle .tabletrline1:hover td { background: #f1f1f1; }
.filtertable td { border-width: 0 0 1px 0; }

.tabform td { border-width: 0 0 1px 0; vertical-align: top; }
.tabform .tabletrline2:hover td, .tabform .tabletrline1:hover td { background: url("../images/tablerow.png") repeat-x 0 100%; }

.tablethhead th { padding: 5px 10px; color: #fff; font-size: 0.9em; text-transform: uppercase; border: 1px solid #373839; background: #57595a url("../images/tablethhead.png") repeat-x 0 100%; }
.tablethhead th a { color: #fff; }
.infolabel td { background: none; padding-top: 14px; border-bottom: 2px solid #9fa3aa; text-align: left; font-size: 1.5em; padding-top:15px !important;}

.function { text-align: right; }
	.function img { vertical-align: middle; margin: 0 2px; }

.submitline { padding: 10px 8px 5px 8px; text-align: center; background: url("../images/submitline.png") repeat-x 0 0; }
button, input[type=button], input[type=submit] {
	border: 1px solid #bdbdbd; color: #747474; font-weight: bold; cursor: pointer;
	background: #fff url("../images/buttons.png") repeat-x 0 100%;
	padding-bottom: 3px; padding-top: 3px;
	-moz-border-radius-bottomleft:12px;
	-moz-border-radius-bottomright:12px;
	-moz-border-radius-topleft:12px;
	-moz-border-radius-topright:12px;
}
button.button:hover, input.button:hover { color: #4c4c4c; background: #fff; }

.label { font-weight: bold; text-align: right; vertical-align: top; width: 200px; color: #525252; }
.label .small { font-weight: normal; line-height: 1.3em; }
.imp { color: #d34b4b; font-weight: normal; }
.labinfo {cursor:help;display: inline-block; white-space: nowrap; margin: -2px 2px 0 0; vertical-align: middle; line-height: 40px; height: 13px; width: 16px; overflow: hidden; background: url("../images/labinfo.png") no-repeat 0 0; }

/*forms*/
.select, input[type=text], textarea { padding: 2px; margin: 0; }
.tabstyle .select, .tabstyle input[type=text], .tabstyle textarea { width: 400px; }
.tabstyle .select { width: 408px; }

.fieldedit { padding: 0; margin: 0; }
.fieldedit input { padding-left: 13px; margin: 0; border: none; background: none; color: #ff8a00; font-weight: bold; background: url("../images/fieldedit_bg.gif") no-repeat 0 50%; }

/*TINY MCE EDITOR*/
textarea.tiny_mce_editor { width: 100%; }

/*blockcache*/
.blockcache { width: 100%; }
.blockcache .submitline { text-align: right; background: none; }

/*block who-online */
#who-online div { margin-bottom: 10px; }
#who-online p { margin: 0; padding: 0; border: 1px solid #525252; }
#who-online h4 { font-size: 0.9em; color: #aeaeae; font-weight: normal; margin: 0 0 3px 0; }
#who-online h2 { margin: 0 0 5px 0; padding: 0 0 5px 0; border-bottom: 1px dotted #808080; text-transform: uppercase; font-size: 1em; font-weight: bold; color: #fff; }
#who-online span.entry { color:#B4CFD7; cursor:pointer; }

/*tooltip*/
.tooltip { z-index:1000; text-align:left;	border:1px solid #d9dee3; padding: 8px; min-width:50px; max-width:400px; background-color:#f2f4f6;
	-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
}

.tooltip .tip-arrow-top, .tooltip .tip-arrow-right,
.tooltip .tip-arrow-bottom, .tooltip .tip-arrow-left { width: 10px; height: 10px; background: url("../images/tip_arrows.png") no-repeat; }
.tooltip .tip-arrow-top, .tooltip .tip-arrow-left { margin-top: -10px; margin-left: 6px; top: 0; left: 0; }
.tooltip .tip-arrow-right { margin-top:6px; margin-left:0; top:0; left:100%; background-position: -10px 0; }
.tooltip .tip-arrow-bottom { margin-top:0; margin-left:6px; top:100%; left:0; background-position: -20px 0; }
.tooltip .tip-arrow-left { margin-top:6px; margin-left:-10px; background-position: -30px 0; }

/*upload image*/
.screenblock { color: #757575; vertical-align: middle; text-align: center; display: table-cell; background-color: #ebe9e5; border: 1px solid #c9c7c3; }

/*tablecard & tablethm*/
table.tablecard, table.tablethm { width: 100%; border-collapse: separate; border-spacing: 8px; }
.tablecard td, .tablethm td { width: 33.3%; padding: 0; }
.tablethm td { width: 50%; }

/*CARD FOR MODULES*/
a.mod_card { text-decoration: none !important; color: #383838; }
.mod_card, .mod_card span { display: block; cursor: pointer; }
.mod_card, .mod_card .card_inn { overflow: hidden; height: 67px; background: #fcfcfc url("../images/mod_card.png") no-repeat 0 0; }
.mod_card .card_inn { background-color: transparent; background-position: 100% -201px; }
.mod_card .card_inn span { padding: 8px 9px; }

.mod_card img { width: 48px; height: 48px; margin-right: 8px; float: left; }
.mod_card span.card_inn span i { font-size: 0.9em; color: #727272; font-style: normal; line-height: 1.3em; }

a.mod_card:hover { color: #469ebf; background-color: #fff; background-position: 0 -67px; }
a.mod_card:hover .card_inn { background-position: 100% -268px; }

/*deactive*/
div.mod_card { background-color: #ebebeb; background-position: 0 -134px; }
div.mod_card .card_inn { background-position: 100% -335px; }

/*CARD FOR TEMPLATES*/
.thm_block { height: 114px; background-color: #b8b8b8; overflow: hidden; }
.thm_brd { border: 1px solid #adadad; height: 110px; overflow: hidden; position: relative; background-color: #fff; }
.thm_cont { padding: 5px 5px 0 5px; }
.thm_img img { width: 100px; height: 100px; float: left; margin-right: 12px; }
.thm_heading { padding-bottom: 8px; }
.thm_heading h3 { font-size: 1em; }
.thm_info p, .thm_menu p { padding: 0; margin: 0; }

.thm_menu { position: absolute; background-color: #000; width: 100%; height: 110px; display: none; overflow: hidden;
	filter:alpha(opacity=82);
	-moz-opacity:0.82;
	-khtml-opacity: 0.82;
	opacity: 0.82;
}
.thm_block:hover .thm_menu, .thm_block:hover .thm_menu { display: block; }
.thm_block:hover .thm_brd, .thm_block:hover .thm_brd { border: 1px solid #1f1f1f; }

.thm_menu .thm_cont { padding: 8px 12px; color: #fff; }
.thm_menu a { color: #fff; }
.thm_mtop { margin-bottom: 4px; }
.thm_btn { position: absolute; bottom: 10px; right: 10px; }
.thm_btn img { margin: 0 2px 0 0; }

/*pager*/
div.numbers { padding-top: 15px; padding-bottom: 15px; }
div.numbers h4 { margin: 0; font-size: 1em; padding: 4px 0; }
div.numbers a, div.numbers span, div.numbers b { padding: 2px 3px; outline: none; float: left; }
div.numbers a img { padding: 2px; float: left; }
div.numbers a:hover { background-color: #ff5a00; color: #ffffff; }
div.numbers span { background-color: #e7e7e7; }
div.numbers span.numbersmore { background: none; }

/*MODULE FILES CARD*/
ul.tlist { padding: 3px; margin: 0;}
ul.tlist li ul { padding: 0; margin: 0; float: left; width: 96%; }
ul.tlist li { border: 1px dotted #d6d6d6; padding: 4px; background: #ffffff;}
ul.tlist li ul li { border: none; background: none; padding: 1px 0; margin: 0; float: left; width: 98%; clear: both; }
ul.tlist li ul li span { float: left; width: 25%; }
ul.tlist li ul li div { float: left; width: 73.5%; }
ul.tlist li ul li div input, ul.tlist li ul li div textarea { width: 100% !important; }

ul.tlist a.tlistbtn { float: right; padding: 0 2px; }
ul.tlist a.tlistbtn img { width: 12px; height: 12px; }

/*code*/
div.code {
	width:100%;
	overflow:auto;
}

div.code pre code {
	word-wrap:normal;
}

.quote { color: #a5a4a4; background: #f9f7f6 url("../images/quote.gif") no-repeat 0 0; border: 1px solid #f3f2f1; padding: 20px 7px 7px 7px; clear: both; }

/*Вкладка заполнения других языков*/
ul.editlang, ul.editlang li { list-style: none; padding: 0; margin: 0; }
.ol_heading { background: #fff url("../images/submitline.png") repeat-x 0 0; border-bottom: 1px solid #d6d6d6; border-top: 1px solid #ededed; font-weight: bold; padding: 5px; display: block; }
.ol_heading img { float: left; margin-right: 8px; }

/*в настройках*/
.langtabcont { float: left; padding: 4px; border: 1px solid #dbddde; }
.langtabs { clear: both; }
.langtabs img { width: 20px; height: 16px; padding: 3px; border: 0 solid #dbddde; margin-top: -1px; }
.langtabs .selected img { border-width: 0 1px 1px 1px; background-color: #fff; }

/*Галерея аватаров*/
.galleryavatars { text-align:center; }
.galleryavatars a {
	float: left;
	padding: 1px;
	margin-right: 5px;
	background-color: #cbcbcb;
	cursor: pointer;
	text-decoration: none !important;
}

.galleryavatars a b {
	display: block;
	background-color: #ffffff;
	padding: 1px;
	width: 80px;
	font-weight: normal;
}

.galleryavatars a img { display: block; width: 80px; }

.galleryavatars a b span {
	display: block;
	color: #a2a2a2;
	text-transform: uppercase;
	font-size: 10px;
}

.galleryavatars a:hover { background-color: #858585; }
.galleryavatars a:hover b { background-color: #ececec; }
.galleryavatars a:hover b span { color: #5b5b5b; }

/*Шапка при уменьшении изображения*/
.resized-image-header {
	position: absolute;
	top: 0;
	left: 0;
	float: left;
	background-color: #000000;
	font-size: 10px;
	color: #ffffff;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}

div.posted-image { position: relative; display: inline-block; }

div.posted-image:hover .resized-image-header {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	filter:alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

img.updown { cursor:pointer; }

div.textarea { max-height:250px; width:98%; overflow-y:scroll; border:1px #A5ACB2 solid; padding-left:2px; background-color:#EEE; }

div.license h1, div.license h2, div.license h3, div.license h4, div.license h5 { margin: 0 0 0.4em 0; }
div.license h2 { text-align:center }
div.license p { margin: 0 0 1.4em 0; }
div.license ol, div.license ul { padding: 0; margin: 0 0 1em 0; }
div.license ol ol, div.license ul ul { padding-left: 1em; }

div.license ol { counter-reset: item }
div.license li { display: block }
div.license li:before { content: counters(item, ".") ". "; font-weight: bold; counter-increment: item }
div.license fieldset { border: 1px solid #ccc; margin: 2%; padding: 1%; }
div.license p, div.license li { text-align:justify }

/* Multisite */
a.checkdb,a.delsite { float:right; }
.redf { border-color:#ECA3A3; background-color:#FDB4B4; }
.greenf { border-color:#9BC444; background-color:#CEF777; }

.tabform .CodeMirror-scroll {
	  max-width: 610px;
}

/* Editor Panel */
.bb_footpanel {
	background: #f3f3f3 url(../images/bbeditor/footpanel.png) repeat-x 0 0;
	border: 1px solid #bcbcbc;
	border-width: 0 1px 1px 1px;
	height: 23px;
}
.bb_footpanel b a { float: right; }
.bb_footpanel a {
	color: #636363;
	line-height: 23px;
	height: 23px;
	padding: 0 29px 0 9px;
}
.bb_footpanel b a { border-left: 1px solid #d8d8d8; }
.bbf_smiles { background: url(../images/bbeditor/smiles.png) no-repeat 100% 0; }

.bb_yourpanel { padding: 5px 0 3px 0; }
a.bbe_ytext, a.bbe_ytext span {
	float: left;
	cursor: pointer;
	height: 21px;
	text-decoration: none !important;
}
a.bbe_ytext {
	background: url(../images/bbeditor/yourbb.png) no-repeat 0 0;
	line-height: 16px;
	color: #636363;
	margin-right: 3px;
	overflow: hidden;
}
a.bbe_ytext span {
	padding: 0 6px;
	background: url(../images/bbeditor/yourbb.png) no-repeat 100% -21px;
}
a.bbe_ytext:hover { background-position: 0 -42px; }
a.bbe_ytext:hover span { background-position: 100% -63px; }

.bb_smiles { border: 1px solid #cccccc; background-color: #f0f0f0; width: 170px; height: 200px; overflow: auto; position:absolute; display:none; }
.bb_smiles a { float: left; width: 51px; height: 42px; }

/* Blocks */
[draggable] {
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
}

#aep { display:none; }

.blocks { padding:5px; }
.blocks option.exists { font-weight:bold; }
.blocks .all { height:300px; margin:0 0 4px 0; white-space: nowrap; }
.blocks .available, .blocks .ver, .blocks .hor, .blocks .site-c { height:100%; overflow:auto; margin:0; }
.blocks .available, .blocks .ver, .blocks .site-c { display:inline-block; }
.blocks .ver, .blocks .site-c { margin-left:2px; }
.blocks .available, .blocks .site-c { border:1px gray dotted; }
.blocks .ver, .blocks .hor { background-color:gray; }
.blocks .available { width:170px; padding-left:5px; float:left; }

.blocks .site-c { background-color:#eaeaea; overflow:auto; }
.blocks .ver { width:5px; cursor:w-resize; }
.blocks .hor { width:100%; height:5px; cursor:n-resize; }

.blocks .available ul { list-style-type:none; padding:0; min-width:150px; }
.blocks .available ul li { position:relative; line-height:2; cursor:default; }
.blocks .available ul b { color:#999; position:absolute; font-weight:normal; }
.blocks .available ul span { margin-left:15px; }
.blocks .available ul i { position:absolute; right:3px; top:3px; display:none; }
.blocks .available ul li:hover, .blocks .available ul li.hover { background-color:lightgray; }
.blocks .available ul li:hover i { display:block; }

.blocks .site { position:relative; width:100%; height:100%; min-width:100%; min-height:100%; }
.blocks .block { float:left; width:120px; height:65px; margin:5px; background-color:darkgray; cursor:default; padding:5px; position:relative; white-space:normal; border:1px lightgray solid; }
.blocks .place { background-color:lightgray; border:1px black dotted; position: absolute; box-shadow: inset 0 0 3px #000; overflow:auto; min-width:160px; min-height:90px; }
.blocks .place .bcontainer { position:relative; width:100%; }
.blocks .place .resize { border-bottom:medium solid #000; border-right:medium solid #000; position:absolute; right:0px; bottom:0px; width:8px; height:8px; cursor:se-resize; }
.blocks .place .title { height:18px; vertical-align:top; font-weight:bold; text-align:left; border-bottom:1px black solid; padding:5px 0 0 5px; cursor: move; }

.dragenter { border:1px green solid !important; }

/* edit user */
.overload { width:100%;height:100%; }
.inherit { vertical-align:middle;text-align:center;width:100%;height:100%; }
.exl { font-size:2em; }
.noavatars { text-align:center;color:red;font-weight:bold;cursor:pointer; }

.imagebtn {
	float: left;
	width: 129px; height: 27px;
	line-height: 25px;
	font-weight: bold;
	text-align: center;
	color: #6d6a65;
	background: #f5f5f5 url(../../../images/uploader/uppanel_btn.png) no-repeat left top;
	text-decoration:none;
}
a.imagebtn:hover { color: #6d6a65; background: #fafafa url(../../../images/uploader/uppanel_btn.png) no-repeat left -27px;text-decoration:none; }

.avatarscover { text-align:center; }
.avatarscover a { margin:2px; }