/*
	Copyright © Eleanor CMS
	URL: http://eleanor-cms.ru, http://eleanor-cms.com
	E-mail: support@eleanor-cms.ru
	Developing: Alexander Sunvas*
	Interface: Rumin Sergey
	=====
	*Pseudonym
*/
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset { margin:0; padding:0; word-wrap:break-word; }
h1, h2, h3, h4, h5, pre, code, address, caption, cite, table, font { font-size: 1em; font-style: normal; font-weight: normal; }
h1, h2, h3, h4, h5, body { font-family: Tahoma, Arial, Verdana, sans-serif; }
h1, h2, h3, h4, h5 { line-height: 1.2em; }
h1 { font-size: 2em; } h2 { font-size: 1.6em; font-family: Arial, Verdana, sans-serif; letter-spacing: -0.01em; } h3 { font-size: 1.20em; font-weight: bold; } h4 { font-size: 1.2em; font-weight: bold; } h5 { font-weight: bold; font-size: 1.0em; }
wbr { display: inline-block; }
a { color: #469ebf; text-decoration: none; outline: none; }
a:hover { text-decoration: underline; }
input, textarea, select { font-size: 1em; font-family: Tahoma, Arial, Verdana, sans-serif; outline: none; }
body { color: #000; background-color: #FFFFFF; font-size: 0.70em; font-style: normal; font-weight: normal; line-height: 1.4em; }
.pagebg { padding: 0; margin: 0; }
p { padding: 0; margin: 0; margin-bottom: 0.4em; }
.pad { padding: 5px 12px; }
.clr { clear: both; }
.fleft { float: left; } .fright { float: right; }
a img  { border: 0 none; }
.parag { text-indent: 30px; }
.small { color: #838383; font-size: 0.9em; }
hr	{ border: 0 none; border-top: 1px solid #cfcfcf; height: 1px; }
ul { margin: 0; padding-left: 16px; list-style-position:outside; list-style-image:none; }
ul li { margin: 0; padding: 0; }
ol { list-style-image: none; list-style-position: outside; list-style-type: decimal; margin-bottom: 18px; margin-left: 2.2em; }
table { border-collapse: collapse; border-spacing: 0; }
.reset, .reset li, .linetabs, .linetabs li, .editlang li { margin: 0; padding: 0; list-style: none; }
.wrapper { padding: 6px 0 0; text-align: left; margin: 0 auto; }

.elh, .elhead { height: 113px; background: url("../images/elhead.png") no-repeat 0 -226px; }
.elh { margin: 0 0 4px 0; padding: 0 8px 0 0; background-position: 100% -113px; }
.elh .elh { margin: 0; padding: 0 0 0 8px; background-position: 0 0; }
.elh .elh .elh { padding: 1px 0 0 0; height: 112px; background-repeat: repeat-x; background-position: 0 -226px;  }

.elf { height: 51px; background: url("../images/elfoot.png") no-repeat 0 -102px; }
	.elf { margin: 0 0 4px 0; padding: 0 8px 0 0; background-position: 100% -51px; }
	.elf .elf { margin: 0; padding: 0 0 0 8px; background-position: 0 0; }
	.elf .elf .elf { overflow: hidden; padding: 0; background-repeat: repeat-x; background-position: 0 -102px;  }

.elhead { height: 68px; background: #4e5050 url("../images/elhead.png") repeat-x 0 -227px; }
	.elhead h1 a, .elhead h1 { float: left; width: 187px; height: 68px; overflow: hidden; }
	.elhead h1 a { background: url("../images/eleanor_logo.png") no-repeat 0 0; overflow: hidden; line-height: 200px; white-space: nowrap; }

.elhead div { display: inline; }
	.elhead ul { float: right; padding: 14px 10px 0 0; }
	.elhead li { float: right; height: 40px; line-height: normal; }
	.elhead ul .bnt1 { width: 38px; }
	.elhead ul .bnt1 a img { width: 38px; height: 40px; background: #fff url("../images/userinfo.png") no-repeat 0 -40px; }
	.elhead ul .bnt1 a:hover img { background-position: -38px -40px; }
	.elhead ul .bnt2 { padding: 0 0 0 15px; background: #fff url("../images/userinfo.png") no-repeat 0 0; text-align: right; }
	.elhead ul .bnt2 h3 { margin: 3px 0 0 0; }

/*menu*/
.elhmenu { padding: 0 8px 0 0; height: 41px; background: #4e5050 url("../images/elhead.png") repeat-x 0 -295px; }
.hmenu, .hmenu li { display: inline; }
	.hmenu a { margin: 7px 2px 0 0; line-height: 27px; text-decoration: none !important; color: #fff; }
	.hmenu a, .hmenu a span { height: 29px; float: left; background: #4b4d4d url("../images/htools.png") no-repeat 0 0; }
	.hmenu a span { cursor: pointer; padding: 0 12px; background: url("../images/htools.png") no-repeat 100% -29px; }
	.hmenu a:hover { background: #626363 url("../images/htools.png") no-repeat 0 -87px; }
	.hmenu a:hover span { background: url("../images/htools.png") no-repeat 100% -116px; }
		.hmenu a.ddrop span { padding: 0 22px 0 12px; background-position: 100% -58px; }
		.hmenu a.ddrop:hover, .hmenu a.selected { color: #3e3f3f; background: #f6f6f6 url("../images/htools.png") no-repeat 0 -284px; }
		.hmenu a.ddrop:hover span, .hmenu a.selected span { background: url("../images/htools.png") no-repeat 100% -313px; }
		.hmenu:after { content: ".";  display: block;  height: 0;  clear: both;  visibility: hidden; }

/*language*/
.hlang { float: right; margin-left: 10px; overflow: hidden; }
	.hlang li, .hlang ul { display: inline; }
	.hlang li a, .hlang li span { float: left; width: 23px; height: 19px; padding: 3px 0 0 3px; margin: 11px 0 0; text-align: left; }
	.hlang li a { background: url("../images/htools.png") no-repeat 0 -900px; }
	.hlang li .active { background: #2d2d2d url("../images/htools.png") no-repeat -26px -262px; }
	.hlang li a:hover { background: url("../images/htools.png") no-repeat 0 -262px; }
	.hlang li a img { display: block; width: 20px; height: 16px; }

/*hviewsite*/
.hviewsite { float: right; overflow: hidden; }
	.hviewsite span a, .hviewsite span a span { float: left; height: 22px; background: #373737 url("../images/htools.png") no-repeat 0 -174px; }
	.hviewsite span a { margin: 11px 0 0; color: #fff; line-height: 21px; text-decoration: none !important; }
	.hviewsite span a span { cursor: pointer; padding: 0 27px 0 10px; background-color: transparent; background-position: 100% -218px; }
	.hviewsite span a:hover { background-position: 0 -196px; }
	.hviewsite span a:hover span { background-position: 100% -240px; }

/*copyright*/
.elfoot { margin: 16px 0 0; padding: 0 5px; }
	.copyright { float: left; color: #fff; }
	.copyright a { color: #fff; }
	.version { float: right; color: #d6d6d6; background: url("../images/loading.gif") no-repeat 0 -999px; }

	.finfo { padding: 0 12px; height: 20px; color: #e7e7e7; font-size: 0.9em;
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
		-moz-opacity: 0.6;
		-khtml-opacity: 0.6;
		opacity: 0.6;
	}
	.pageinfo { float: left; }

/*structure*/
.container, .leftside, .midside, .rightside, .mainside { overflow: hidden; }
.container { padding: 0 0 1px 100px; }
.container .midside .container { padding: 0 189px 0 0; }
.leftside { display: inline; float: left; width: 100px; margin: 0 0 0 -100px; }
.rightside { display: inline; float: right; width: 184px; padding-left: 5px; margin: 0 -189px 0 0; }
.midside { float: right; width: 100%; }
.mainside { float: left; width: 100%; }
table.conts { border: 0 none; width: 100%; }

/*wpbox*/
.wpbox { margin: 0 0 5px 0; }
.wptop, .wpbtm, .wpmid, .wpbox { overflow: hidden; }
	.wptop, .wpbtm, .wptop b, .wpbtm b, .wptop span, .wpbtm span { display: block; height: 5px; font-size: 1px; background-image: url("../images/wpbox.png"); background-repeat: no-repeat; }
	.wptop span, .wpbtm span, .wpmid { background-color: #c2c2c3; }
	.wptop b, .wpbtm b { padding: 0 5px 0 0; }
	.wptop, .wpbtm { padding: 0 0 0 5px; }
	.wptop { background-position: 0 0; }
	.wptop b { background-position: 100% -5px; }
	.wpbtm { background-position: 0 -15px; }
	.wpbtm b { background-position: 100% -10px; }

/*whitebox*/
.wpbwhite .wpmid, .wpbwhite .wptop span, .wpbwhite .wpbtm span { background: #fff none; }
	.wpbwhite .wptop, .wpbwhite .wpbtm, .wpbwhite .wptop b, .wpbwhite .wpbtm b { background-image: url("../images/wpbwhite.png"); }
	.wpbwhite .wpmid { padding: 0; }
	.wpbwhite .wpcont { margin: 0 5px; }

.wbpad { margin: 0 5px; overflow: hidden; }
.brdbox { border: 1px dotted #ccc; padding: 3px; margin: 0 0 5px 0; }

/*blocks*/
.block { width: 183px; overflow: hidden; margin: 0 0 5px 0; }
	.block .dtop, .block .dbtm { height: 5px; font-size: 1px; overflow: hidden; background-image: url("../images/rightbox.png"); }
	.block .dmid { background-color: #575a5a; }
	.block .dtitle { color: #fff; padding: 4px 10px 12px 10px; margin: 0 0 5px 0; background: url("../images/rb_hsep.png") repeat-x 0 100%; }
	.block .dtop { background-position: 0 0; }
	.block .dbtm { background-position: 0 -5px; }
	.block .dcont { margin: 0 5px; overflow: hidden; }

		.leftside .block { width: 95px; }
		.leftside .block .dtop, .leftside .block .dbtm { background-image: url("../images/leftbox.png"); }
		.leftside .block .dmid { background-color: #c4c4c4; }

		.rightside .block .dcont { margin: 0 10px; }
		.rightside .bvnav .dcont { margin: 0 5px; }
		.rightside .block a { color:#b4cfd7; }

		.navs li a { display: block; width: 100%; text-decoration: none; overflow: hidden; }
			.rightside .navs li a { text-indent: 6px; color: #fff; background: url("../images/rb_mlinks.png") no-repeat 0 -29px; height: 28px; line-height: 27px; margin: 0 0 1px 0; }
			.rightside .navs li a:hover { background-position: 0 0; background-color: #707373; }
			.rightside .navs li a.active { background-position: 0 -58px; background-color: #fff; color: #000; }
			.rightside .navs li a img { float: left; margin: 6px 0 0 6px; }
				.navs .submenu { padding: 4px 0 4px 8px; }
				.navs .submenu li a, .navs .submenu li a.active { color: #e7e7e7; width: auto; height: auto; line-height: normal; background-position: 0 -104px; }
				.navs .submenu li a span { padding: 4px 0 4px 18px; display: block; cursor: pointer; }
				.navs .submenu li a:hover { color: #fff; text-decoration: underline; background-position: -173px -104px; background-color: transparent; }
				.navs .submenu li a.active { color: #fff; background-color: transparent; font-weight: bold; }

			.leftside .navs, .leftside .navs li a { background: url("../images/lb_hsep.png") repeat-x 0 0; }
			.leftside .navs { padding: 2px 0 0; }
			.leftside .navs li a { color: #3b3b3b; padding: 4px 0 6px 0; background-position: 0 100%; line-height: normal; font-size: 0.9em; }
			.leftside .navs li a:hover { background-color: #dbdbdb; color: #161616; }
				.leftside .nsmall li a img { float: left; margin: -1px 4px 0 4px; }
				.leftside .nbig li a { text-align: center; }
				.leftside .nbig li a img { display: block; margin: 0 auto 2px auto; }

				.editmenu { display: block; width: 51px; height: 20px; line-height: 100px; overflow: hidden; background: url("../images/editmenu.png") no-repeat 0 0; }
				.editmenu:hover { background-position: 0 -20px; }

			/*warning, info*/
		.warning { padding: 8px; text-align: left; margin: auto; margin-bottom: 5px;
			-o-border-radius:4px;
			-moz-border-radius:4px;
			-webkit-border-radius:4px;
			border-radius:4px;
			border: 1px solid #d3d3d3;
			background-color: #fafafa;
		}

		.warning div { margin-left: 56px; }
		.warning div div { margin: 0; }
		.warning h4 { margin-top: 0; }
		.warning .info  { float: left; }
		.warning .repair { font-weight:bold; text-align:right; border-top:1px gray dashed; }

.logs { max-height:500px; overflow:scroll; }

/*loading*/
#loading {
	position:fixed;
	display:none;
	width: 64px;
	height: 64px;
	background: #000 url("../images/loading.gif") no-repeat 0 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
	-o-border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	z-index:1000;
}

*html #loading div { position: absolute; }