/*
	Copyright © Eleanor CMS
	URL: http://eleanor-cms.ru, http://eleanor-cms.com
	E-mail: support@eleanor-cms.ru
	Developing: Alexander Sunvas*
	Interface: Rumin Sergey
	=====
	*Pseudonym
*/

/*uploadbox*/
.uploadbox {
	text-align: left;
	padding: 7px;
	border: 1px solid #dbd6cc;
	background-color: #f7f7f7;
}

.boxtabsubmit .uploadbox { margin-bottom: 10px; }

.uploadhead { height: 32px; line-height: 30px; overflow: hidden; margin-bottom: 2px; }
.uploadhead h2 { float: right; margin: 0; line-height: 30px; }
.uploadhead a, .uploadhead a b { float: left; cursor: pointer; }
.uploadhead a {
	width: 110px; height: 32px;
	background: url(../../../images/uploader/uploader-expand.png) no-repeat 0 0;
	color: #636363 !important;
	outline: none;
}
.uploadhead a:hover { background: url(../../../images/uploader/uploader-expand.png) no-repeat 100% 0; }
.uploadhead a b { padding-left: 32px; }

.uploadbox .uploader {
	border: 1px solid #e6e6e6;
	background-color: #fefefe;
	padding: 3px;
}

/*upload panels*/
.uppanel { margin: 0 0 6px 0; }

.divloading {
	padding: 3px 0;
	text-aign:center;
}

.uppanel .btn {
	float: left;
	width: 129px; height: 27px;
	line-height: 25px;
	font-weight: bold;
	text-align: center;
}

.uppanel a.btn:link, .uppanel a.btn:visited { color: #6d6a65; background: #f5f5f5 url(../../../images/uploader/uppanel_btn.png) no-repeat left top; }
.uppanel a.btn:hover { color: #6d6a65; background: #fafafa url(../../../images/uploader/uppanel_btn.png) no-repeat left -27px; }

.uppanel_ricons { float: right; display: inline; }
.uppanel_ricons a img { width: 27px; height: 27px; }
.uppanel_ricons a { float: left; width: 27px; height: 27px; }

.uppanel_ricons a img { background-position: left top; background-repeat: no-repeat; }
.uppanel_ricons a.active img { background-position: left bottom; }

.uppanel_files, .uppanel_files li { padding: 0; margin: 0; background: none; }
ul.uppanel_files { border-left: 1px solid #d6d6d6; border-right: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6; list-style-type:none }
ul.uppanel_files li {
	line-height: 25px;
	height: 26px;
	padding: 0 3px;
	background: #fdfdfd url(../../../images/uploader/li_linebg.png) repeat-x 0 0;
	overflow: hidden;
	border-top: 1px solid #d6d6d6;
}
ul.uppanel_files li:hover { background: #f3f3f3 url(../../../images/uploader/li_linebg.png) repeat-x 0 -100px; }

ul.uppanel_files li span { float: right; margin-top: 5px; }
ul.uppanel_files li span a { margin-left: 2px; }
ul.uppanel_files li .typeicon { float: left; margin-top: 5px; margin-right: 5px; margin-left: 2px; }

/*EDITOR THM FILES*/
.filestemplate li span { float: right; margin-left: 10px; line-height: 16px; }
.filestemplate li .buttons { width: 70px; text-align: right; margin-left: 0; }

div.frdatethm { text-align:center; }